body {
	margin: 0;
}

#container {
	height: 100vh;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 4fr 5fr 1fr;
	grid-template-areas: "one one two"
						 "one one two"
						 "three four four";
	gap: 20px;

	/* align-items: center;
	justify-items: center; */

	background-color: beige;
}

#item1 {
	grid-area: one;

	background-color: red;
}

#item2 {
	grid-area: two;

	background-color: lime;
}

#item3 {
	grid-area: three;

	background-color: yellow;
}

#item4 {
	grid-area: four;

	background-color: blue;
}